# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env (BÍ MẬT - không bao giờ commit)
.env
.env.local
.env*.local

# prisma
/prisma/migrations/dev.db*

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
